{% extends 'main/base.html' %}

{% load static %}

    {% block head %}
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
    {% endblock %}

{% block title %}О нас{% endblock %}

{% block body %}
     <div class="features">
         <img src="{% static 'shop/img/about.jpg' %}" alt="О нас">
         <div class="about-txt">
                <h3>Мир-Спорта-63</h3>
                <p>
                    Мы рады приветствовать Вас на нашем сайте Мир-Спорта-63.
                    Мир-Спорта-63 предлагает широкий выбор турников для дома.
                    Мы гарантируем качество нашего товара.
                    За долгое время, наша компания получила много положительных отзывов от клиентов и партнеров.
                </p><br>
                <p>
                    Цены на турники у нас самые низкие – так как мы занимаемся поставкой напрямую от производителя.
                    У нас нет магазинов и выставочных образцов, за которые приходится платить бешеную арендную плату, нам хватает пункта выдачи в нашем городе.
                    Покупая домашний турник у нас – вы не переплачиваете Посредникам! Поэтому наши клиенты могут купить данный продукт по самой выгодной цене.
                </p><br>
                <h4>Мы будем рады видеть Вас в числе наших клиентов!</h4>
         </div>
         <div class="contacts">
             <h4>Наши контакты:</h4>
             <a href="https://vk.com/mirsport73"><h5><i class="fa-brands fa-vk"></i> Наша группа в Вконтакте</h5></a>
             <h5><i class="fa-solid fa-phone"></i>Наш телефон: +7(917) 637 89-06</h5>
             <h5><i class="fa-regular fa-envelope"></i>Наша почта: MIR-SPORT-63@YANDEX.RU</h5>

         </div>
     </div>
{% endblock %}