{% extends 'main/base.html' %}

{% load static %}
    {% block head %}
    <link rel="stylesheet" href="{% static 'main/css/delivery.css' %}">
    {% endblock %}
{% block title %}Доставка{% endblock %}

{% block body %}
    <div class="delivery">
        <h3>Доставка</h3><br>

        <div class="delivery-ulsk">
            <h4>Доставка по городу Самара:</h4><br>
            <p>
                После оформления заказа мы свяжемся с вами для уточнения деталей доставки.<br>
                Доставки производятся согласно графику.<br>
                Стоимость доставки по Самаре до 500 рублей в зависимости от адреса.<br>
                Возможен самовывоз.<br>
            </p><br>

            <p>
                Вопросы по доставке можно уточнить по телефону <i class="fa-solid fa-phone"></i>  +79176377587<br>
                <br>
                Возможна срочная доставка в течении 2-х часов (стоимость от 200.00 руб.)
            </p><br>
            <img src="{% static 'main/img/car.png' %}">
        </div>

        <div class="delivery-country">
            <h4>Доставка по России:</h4><br>
            <p>
                Доставка в регионы России осуществляется транспортной компанией ПЭК. <a href="https://pecom.ru/contacts/list-filials/">Список городов.</a><br>
                После оформления заказа мы доставим Ваш заказ на склад транспортной компании ПЭК г.Самара, <br>
                после чего товар отправится в Ваш регион.<br>
                (время в пути груза зависит от региона получателя в среднем от 2-х до 10-ти дней) <br>
                Стоимость доставки груза ТК "ПЭК" из г.Самара в другие регионы рассчитывается на сайте транспортной компании.
                Доставка до ТК "ПЭК" в Самаре бесплатна.
            </p><br>
            <h5>Более подробно можно уточнить по телефону:  <i class="fa-solid fa-phone"></i>  +79176377587</h5>
            <img src="{% static 'main/img/truck.png' %}">
        </div>
    </div>
{% endblock %}