.card {
    width: 256px;
    height: 310px;
    border-radius: 15px;
    background: #fff;
    text-decoration: none;
    box-shadow: 2px 2px 10px #434040;
    margin-top: 40px;
    transition: all 0.3s ease;
}

.card a {
    text-decoration: none;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 8px 8px 30px;
}

.card img{
    width: 256px;
    height: 220px;
    border-top: 7px solid #323642;
    border-bottom: 36px solid #323642;
}

.card h3 {
    color: white;
    background: #323642;
    text-align: center;
    margin-top: 5px;
    font-size: 25px;
    border-bottom: 15px solid #323642;
    border-top: 7px solid #323642;
    width: 256px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, 256px);
    column-gap: 30px;
    row-gap: 40px;
    justify-content: center;
    margin-left: 5%;
}
.catalog-fon{
    width: 100%;
    border-top: 7px solid #07b1e5;
    image-rendering: -moz-crisp-edges; /* Firefox */
    -ms-interpolation-mode: nearest-neighbor;  /* IE */
    image-rendering: crisp-edges; /* Стандартное свойство */
}